# Virtual environments
venv/
**/venv/

# Node
node_modules/
**/node_modules/

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Environment files
.env
*.env

# Secrets
secrets/
**/secrets/
firebase-service-account.json

# Git & system
.git/
.DS_Store